body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    color: white;
}
th{
    color: red;
}
td{
    color: dodgerblue;
}
p{
    color: skyblue; 
}