body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
}

a{
    color: white;
}
th{
    color: red;
}

td{
    color: honeydew;
}
td,img {
    width: 50px;
    height: auto;
}
p{
    color: skyblue; 

}
img {
    width: 10%;
    height: 10px;
}