/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


/* Cabecera */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Enlaces de navegación */
 a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #555;
}

/* Tabla de productos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

/* Enlace de compra en la tabla */
table a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #4CAF50;
    border-radius: 3px;
}
img{
    width: 10%; /* Establece el ancho al 10% */
    height: 10%; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio debajo de la imagen */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
}
p{
    color: aqua;
}

/* Estilos para el formulario de inicio de sesión */
form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

form button {
    background: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Carrito de compra */
#carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
